.wrapper-skills
{
    display: grid;
    grid-template-columns: 4fr;
    background-color: #D7F9F0;
    color: #40a977;
    padding: 35px;
    font-size: 36px;
    text-align: center;
}

.wrapper-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #D7F9F0;
}

.item {
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 3rem;
}

.item-circle {
    width: 130px;
    height: 130px;
    background-color: #40a977;
    border-radius: 50%;
    float: left;
}

.nama-skills {
    text-align: center;
}

@media screen and (max-width: 768px) {
    .wrapper-skills
    {
        display: grid;
        grid-template-columns: 3fr;
        background-color: #D7F9F0;
        color: #40a977;
        padding: 35px;
        font-size: 36px;
        text-align: center;
    }

    .wrapper-item {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        background-color: #D7F9F0;
    }

    .item {
        max-width: 90%;
        margin-right: auto;
        margin-left: auto;
        padding-bottom: 3rem;
    }

    .item-circle {
        width: 100px;
        height: 100px;
        background-color: #40a977;
        border-radius: 50%;
        float: left;
    }
}

@media screen and (max-width: 320px) {
    .wrapper-skills
    {
        display: grid;
        grid-template-columns: 3fr;
        background-color: #D7F9F0;
        color: #40a977;
        padding: 35px;
        font-size: 36px;
        text-align: center;
    }

    .wrapper-item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: #D7F9F0;
    }

    .item {
        max-width: 90%;
        margin-right: auto;
        margin-left: auto;
        padding-bottom: 3rem;
    }

    .item-circle {
        width: 100px;
        height: 100px;
        background-color: #40a977;
        border-radius: 50%;
        float: left;
    }
}
