.custom-footer {
    background-color: #048C6C;
    color: white;
}

.container-footer {
    background-color: #048C6C;
    color: white;
    margin-right: auto;
    margin-left: auto;
    padding: 1rem;
}